<footer>
  <hr />
  <div class="container-fluid footer-container">
    <!-- !div used to add space -->
    <div style="clear: both;">&nbsp;</div>
    <div class="row justify-content-around">
      <div class="list-inline-item"><a href="#">Home</a></div>
      <div class="list-inline-item"><a href="#">Services</a></div>
      <div class="list-inline-item"><a href="#">About</a></div>
      <div class="list-inline-item"><a href="#">Terms</a></div>
      <div class="list-inline-item"><a href="#">Privacy Policy</a></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="copyright">Deepjyot Singh © 2021</p>
    </div>

  </div>

  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"
  integrity="sha512-fHXRw0CXruAoINU11+hgqYvY/PcsOWzmj0QmcSOtjlJcqITbPyypc8cYpidjPurWpCnlB8VKfRwx6PIpASCUkQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/<%=jsFileName%>.js"></script>

</body>

</html>