<section id="projects-section" class="home-section wg-portfolio">
  <div class="home-section-bg"></div>
  <div class="container">
    <div class="row">
      <div
        class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start"
      >
        <h1 class="mb-0">Projects</h1>
      </div>
      <div class="col-12 col-lg-8">
        <div class="alert alert-note">
          <div>
            <span id="info-icon">&#8505;</span>
            Explore all the projects <a href="./projects/">here</a>.
          </div>
        </div>

        <div
          class="isotope projects-container js-layout-masonry"
          style="position: relative; height: 354.362px"
        >
          <div
            class="project-card project-item isotope-item js-id-Transformer js-id-Generalization js-id-Cognitive-Science js-id-NLP"
            style="position: absolute; left: 0px; top: 0px"
          >
            <div class="card border-primary mb-2">
              <a
                href="https://github.com/deepjyotk/Code-Solver"
                class="card-image hover-overlay"
                target="_blank"
              >
                <img
                  src="/images/projects/code-solver.jpg"
                  alt=""
                  id="proj-ts-image"
                  class="img-responsive"
                  loading="lazy"
                />

                <div class="p-2">
                  <div class="card-header tsheader"><b>Code Solver</b></div>

                  <div class="article-style">
                    <div
                      class="card-text project-desc-text small"
                      style="color: black"
                    >
                      Embark on a journey into innovation with my showcase
                      project—an extraordinary Flutter application that
                      redefines the boundaries of user experience and code
                      generation. Fueled by a passion for efficient
                      problem-solving and a commitment to excellence, this
                      project seamlessly integrates cutting-edge technologies to
                      deliver a truly unique digital experience.
                    </div>
                  </div>

                  <!-- <div class="btn-links p-1">
                                    <a class="btn btn-outline-primary btn-page-header btn-sm"
                                        href="https://github.com/DEEPJYOTSINGHKAPOOR/TrucksAndTrucks" target="_blank"
                                        rel="noopener">
                                        Code
                                    </a>

                                </div> -->
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
