<span class="js-widget-page d-none"></span>
<section class="home-section" id="home-section">
    <div class="section-bg"></div>
    <!-- //!This is the row , h-100 means height 100% of its parent.-->
    <div class="row h-100">

        <!-- //! col of size 8/12 -->
        <div class="col-sm-12 top-down-auto">

            <!-- //!Card has header and will have  -->
            <div class="car" style="width: 100%;">
                <h1 class="text-center person-name">Deepjyot Singh Kapoor</h1>
                <!-- //! card body -->
                <div class="card-body">

                    <!-- //! Container for buttons -->
                    <div class="container">
                        <!-- //! Rows of buttons -->
                        <div class="row">

                            <!-- //! Button col for insta -->
                            <div class="col-lg-2 col-md-6">
                                <a href="https://www.instagram.com/deepjyotsinghkapoor/" target="_blank">
                                    <button class="btn btn-primary form-control  btn-block fa fa-instagram">
                                        <span class="social-text">Instagram</span> </button>
                                </a>

                            </div>

                            <!-- //! Button col for FB -->
                            <div class="col-lg-2 col-md-6">
                                <a href="https://www.facebook.com/deepjyotsingh.kapoor.3/" target="_blank">
                                    <button id="btnSubmit"
                                        class="btn btn-primary form-control btn-block fa fa-facebook">
                                        <span class="social-text">Facebook</span> </button>
                                </a>
                            </div>

                            <!-- //! Button col for GitHub -->
                            <div class="col-lg-2 col-md-6">
                                <a href="https://github.com/DEEPJYOTSINGHKAPOOR/" target="_blank">
                                    <button id="btnSubmit" class="btn btn-primary form-control btn-block fa fa-github">
                                        <span>GitHub</span>
                                    </button>
                                </a>
                            </div>


                            <!-- //! Button col for Linkedin -->
                            <div class="col-lg-2 col-md-6">
                                <a href="https://www.linkedin.com/in/deepjyot-singh-kapoor-631632177/" target="_blank">
                                    <button id="btnSubmit"
                                        class="btn btn-primary form-control btn-block fa fa-linkedin"><span
                                            class="social-text">Linkedin</span></button>
                                </a>

                            </div>

                            <!-- //! Button col for Email -->

                            <div class="col-lg-2 col-md-6">
                                <a href="mailto:kapoordeepjyotsingh29@gmail.com" target="_blank">
                                    <button id="btnSubmit"
                                        class="btn btn-primary form-control btn-block fa fa-envelope"><span
                                            class="social-text">Email</span></button>
                                </a>
                            </div>

                            <!-- //! Button col for Twitter -->
                            <div class="col-lg-2 col-md-6">
                                <a href="https://twitter.com/KapoorDeepjyot/" target="_blank">
                                    <button id="btnSubmit"
                                        class="btn btn-primary form-control btn-block fa fa-twitter"><span
                                            class="social-text">Twitter</span></button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>