<!-- !Experience section. -->
<section class="experience-section" id="experience-section">
    <div class="section-bg"></div>

    <div class="container">
        <div class="row  ">


            <div
                class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
                <h1 class="mb-0">Experience</h1>

            </div>
            <div class="col-12 col-lg-8">

                <!-- !experience -1 row -->
                <div class="row experience">

                    <!-- !For drawing line and dot content.  -->
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border exp-fill">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>

                    <!-- ! Row content experience -will hold the card.  -->
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="section-subheading card-title exp-title text-muted mt-0 mb-1">Intern
                                </div>
                                <div class="section-subheading card-title exp-company text-muted my-0"><a
                                        href="https://www.cognizant.com/" target="_blank" rel="noopener">Cognizant</a>
                                </div>
                                <div class="text-muted exp-meta">
                                    Apr 2021 –

                                    Present


                                    <span class="middot-divider"></span>
                                    <span> . Chennai, IN</span>

                                </div>
                                <br>
                                <div class="card_text">Working as Full Stack Intern & devloping good projects.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row experience">

                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>

                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="section-subheading card-title exp-title text-muted mt-0 mb-1">
                                    Project
                                    Assistant</div>
                                <div class="section-subheading card-title exp-company text-muted my-0"><a
                                        href="https://probuzz.co.in/" target="_blank" rel="noopener">Probuzz</a>
                                </div>
                                <div class="text-muted exp-meta">
                                    Jan 2020 –

                                    Mar


                                    <span class="middot-divider"></span>
                                    <span>Pune, IN</span>

                                </div>
                                <br>
                                <div class="card_text">Developed a Mobile Application for client which has over
                                    5k+
                                    downloads.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row experience">

                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <!-- <div class="row h-50">
                                <div class="col border-right">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div> -->
                    </div>

                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="section-subheading card-title exp-title text-muted mt-0 mb-1">
                                    Android
                                    Developer
                                    Intern</div>
                                <div class="section-subheading card-title exp-company text-muted my-0"><a
                                        href="https://geniobits.com/" target="_blank" rel="noopener">Geniobits</a>
                                </div>
                                <div class="text-muted exp-meta">
                                    Dec 2019 –

                                    March 2020

                                    <span class="middot-divider"></span>
                                    <span>Pune, IN</span>
                                </div>
                                <br>
                                <div class="card_text">Got Trained & Worked on Gym Mobile Android
                                    Application.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>