<section class="about-section" id="aboutme-section">
    <div class="section-bg"></div>
    <div class="container">
        <div class="row">
            <!-- !Profile: [image,designation] Take /4 for large screen and full for  md,sm-->
            <div class="col-12 col-lg-4">
                <div id="profile">
                    <!-- !image :circular -->
                    <img class="rounded-circle avatar avatar-circle " src="/images/deepjyot.jpeg" alt="image-error">
                    <div class="image-title">
                        <h2>Deepjyot Singh</h2>
                        <h3>Jr. Full Stack Engineer</h3>
                        <h3> <a href="https://www.cognizant.com/" rel="noopener" target="_blank">
                                <span class="text-links">Cognizant</span></a> </h3>
                    </div>
                </div>

            </div>

            <div class="col-12 col-lg-8">
                <h1>About Me</h1>
                <div class="article-style">
                    <p>I am Deepjyot Kapoor, a highly motivated and skilled Software Engineer with a passion for creating innovative solutions and pushing the boundaries of technology. Currently pursuing a Master's degree in Computer Science at New York University, I have a strong foundation in a variety of programming languages, including Python, C++, Dart, and more. My experience as a Software Engineer at Cognizant has equipped me with expertise in end-to-end
                         document workflow automation, Angular development, and
                        AWS Lambda functions.
                        During my time as a Mobile App Developer, I successfully led the development of the 'Marwar Print' app, which garnered over 100,000 downloads on the Google Play Store. My proficiency in Flutter, Dio package integration, and client-centric collaboration skills played a vital role in this achievement.
                        I am also passionate about open-source contributions and have created projects like 'Code Solver' and 'Social Sphere Project,' where I harnessed cutting-edge technologies to deliver user-friendly solutions. My certifications include AWS Cloud Practitioner and HackerRank Problem Solving (Intermediate), reflecting my commitment to continuous learning and growth.
                        In addition to my technical expertise, I have demonstrated leadership as the Vice President of the Coding Hub at my college, where I organized coding events and developed a college MCQ website. Furthermore, I have a strong sense of community involvement, having volunteered at a local NGO to distribute meals to those in need.     
                        I am excited to continue my journey as a software engineer, contributing to meaningful projects, and constantly striving
                        for excellence in the world of technology. Feel free to explore my portfolio and GitHub to learn more about my work and projects.
                        
                         </p>

                    <p> I am ML enthusiast and currently working as an research scientist. Apart from the above mentioned
                        technical interests, I also share a keen interest towards Music, Badminton &amp;
                        Cricket.
                        I had played badminton till state-level during my school days.
                    </p>
                </div>

                <div class="row">


                    <div class="col-md-5">
                        <div class="section-subheading">Interests</div>
                        <ul class="ul-interests">
                            <li>Machine Learning</li>

                            <li>Deep Learning</li>

                            <li>Flutter App Development</li>

                            <li>Web Development</li>

                            <li>AWS cloud</li>
                            

                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="section-subheading">Education</div>
                        <ul class="ul-edu fa-ul">

                            <li>
                                <i class="fa-li fa fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">M.S. in Computer Science, 2023</p>
                                    <p class="institution">New York University</p>
                                    <!-- <p class="institution">CGPA: 9.19 (85.28%) </p> -->
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>