<section id="projects-section" class="home-section wg-portfolio  ">
    <div class="home-section-bg "></div>
    <div class="container">
        <div class="row  ">
            <div
                class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
                <h1 class="mb-0">Projects</h1>

            </div>
            <div class="col-12 col-lg-8">

                <div class="alert alert-note">

                    <div>
                        <span id='info-icon'>&#8505;</span>
                        Explore all the projects <a href="./projects/">here</a>.
                    </div>
                </div>




                <div class="isotope projects-container js-layout-masonry "
                    style="position: relative; height: 354.362px;">

                    <div class="project-card project-item isotope-item js-id-Transformer js-id-Generalization js-id-Cognitive-Science js-id-NLP"
                        style="position: absolute; left: 0px; top: 0px;">
                        <div class="card border-primary mb-2">
                            <a href="/project/feedback-and-memory-in-transformers/" class="card-image hover-overlay">
                                <img src="/images/projects/transportation_solution_trips_portal_image.png"
                                    alt="Feedback and Memory in Transformers" id="proj-ts-image" class="img-responsive "
                                    loading="lazy">
                            </a>

                            <div class="p-2">
                                <div class="card-header">Transportation Solutions</div>


                                <div class="article-style">
                                    <div class="card-text project-desc-text  small" style="color: black;">
                                        A React Truffle based application which saves the transactions made in the transportation business inside the blochkchain. The second feature of 
                                        the project is the 
                                    </div>
                                </div>

                                <!-- <div class="btn-links p-1">
                                    <a class="btn btn-outline-primary btn-page-header btn-sm"
                                        href="https://github.com/DEEPJYOTSINGHKAPOOR/TrucksAndTrucks" target="_blank"
                                        rel="noopener">
                                        Code
                                    </a>

                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>