<section class="about-section" id="aboutme-section">
    <div class="section-bg"></div>
    <div class="container">
        <div class="row">
            <!-- !Profile: [image,designation] Take /4 for large screen and full for  md,sm-->
            <div class="col-12 col-lg-4">
                <div id="profile">
                    <!-- !image :circular -->
                    <img class="rounded-circle avatar avatar-circle " src="/images/deepjyot.jpeg" alt="image-error">
                    <div class="image-title">
                        <h2>Deepjyot Singh</h2>
                        <h3>Jr. Full Stack Engineer</h3>
                        <h3> <a href="https://www.cognizant.com/" rel="noopener" target="_blank">
                                <span class="text-links">Cognizant</span></a> </h3>
                    </div>
                </div>

            </div>

            <div class="col-12 col-lg-8">
                <h1>About Me</h1>
                <div class="article-style">
                    <p>I am a Jr Software Engineer working at Cognizant Technology Solutions. I did my undergraduation from <a
                            href="http://www.unipune.ac.in/university_files/about_university.htm"
                            target="_blank" rel="noopener">SPPU, Pune</a>, with a major in Computer
                        Science Engineering. I had also been vice president
                        of
                        my
                        college club named <a href="https://codinghubteam.github.io/about.html" target="_blank"
                            rel="noopner">Coding Hub</a>. As a technology enthusiast, I spend much of my time upskilling myself and learning new skills. Being Full Stack Developer,
                             I have a substantial command of electic technologies like .Net Core,
                         Angular, React, Flutter, Visual Basic, Truffle Suite and AWS cloud. I 
                         believe Technology has the power to drastically change
                          the world in a positive sense. The revolutions of
                          technology have made our lives better, easier, faster, and more. 
                          Being a computer engineer, I feel priviledged to solve real world problems and 
                          aspire to us my skills for the betterment of the society.
                         </p>

                    <p> I am ML enthusiast and currently doing projects in Natural Language Processing. Apart from the above mentioned
                        technical interests, I also share a keen interest towards Music, Badminton &amp;
                        Cricket.
                        I had played badminton till state-level during my school days.
                    </p>
                </div>

                <div class="row">


                    <div class="col-md-5">
                        <div class="section-subheading">Interests</div>
                        <ul class="ul-interests">
                            <li>Natural Language
                                Processing</li>

                            <li>Deep Learning</li>

                            <li>App Development</li>

                            <li>Web Development</li>

                            <li>AWS cloud</li>
                            

                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div class="section-subheading">Education</div>
                        <ul class="ul-edu fa-ul">

                            <li>
                                <i class="fa-li fa fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">B.E. in Computer Science Engineering, 2021</p>
                                    <p class="institution">SKNCOE (Pune University),Pune</p>
                                    <p class="institution">CGPA: 9.19 (85.28%) </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>